<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js" ></script>
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js"></script>
</head>
<body>
{% csrf_token %}
    {% verbatim myblock %}
    <div id="all">
        <div style="height: 200px">
            <iframe name='forsubmit' style='display: none;'></iframe>
            <form target="forsubmit">  <!--target规定在什么地方打开该网页-->
                <div style="width: 1000px;height: 200px;">
					<input id='inpmsg' style="width:250px;height: 44px;" v-model="message" type="text" name="" size="22" maxlength="60" placeholder="输入文本信息">
                </div>
                <div id="transfer" style="width:50px;height:40px; position: absolute; left: 260px;top: 8px;">
                    <input id="button" style="height: 50px;width: 60px;" @click='transfer' type="submit" name="" value="转换">
                </div>
                <div>
                     <p v-for="item in dis">
                        {{ item.response }}
                     </p>
                </div>
            </form>
        </div>
    <div class="wrap">
         <svg   xmlns="http://www.w3.org/2000/svg" version="1.1" height="1500px" width="1500px">
             <g v-for='item in tests' stroke="black" stroke-width="3" fill="black">
                 <path :d="item.d" stroke="blue" stroke-width="3" fill="none" />
                 <circle :cx="item.xs" :cy="item.ys" r="3" />
                 <circle :cx="item.xe" :cy="item.ye" r="3" />
             </g>
             <g v-for='item in dis' stroke="black" stroke-width="3" fill="black">
                  <path :d="item.d" stroke="red" stroke-width="3" fill="none" />
                  <circle :cx="item.xs" :cy="item.ys" r="3" />
                  <circle :cx="item.xe" :cy="item.ye" r="3" />
             </g>
         </svg>
    </div>
    </div>
    {% endverbatim myblock %}
    <script>
        var v = new Vue({
            el: '#all',
            data: {
                message: '',
                dis:[],
                tests: [],
            },
            methods: {transfer: function(){
					    $.ajax({
						    url: '/Trans/?msg='+this.message,
						    type: 'POST',
						    dataType: 'text',
						    headers:{"X-CSRFToken":$.cookie('csrftoken')},
						    data: {
					    	},
						    success: function(data){
							    var dir = JSON.parse(data)
							    v.dis = dir
						    },
						    error: function(data){
							    alert('错误'+data.status)
						    }
					    })
				    }
			}
		})
        $.ajax({
            url: '/ww/',
            type: 'POST',
            dataType: 'text',
            headers:{"X-CSRFToken":$.cookie('csrftoken')},
            data: {},
            success: function(data){
                test = JSON.parse(data)
                v.tests = test
            },
            error: function(data){
                alert('错误'+data.status)
            }
        })

    </script>

</body>
</html>